# Food Delivery App Data Analysis Project 

The original dataset Zomato, a leading food delivery app in India was provided by HiCounselor(https://www.linkedin.com/company/hicounselor/) as part of online "Food Delivery App Data Analysis" project.

The primary aim of the current part of the project is to preprocess and clean the dataset to prepare it for the analisys using SQL.

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import re

In [2]:
#reading the file
hotels=pd.read_csv('/Users/allabannikova/Documents/Alla/Food_App_project/zomato.csv')

## Exploring the dataset

In [3]:
hotels.head()

,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

In [4]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56252 entries, 0 to 56251
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   address                      56235 non-null  object
 1   name                         56236 non-null  object
 2   online_order                 56233 non-null  object
 3   book_table                   56194 non-null  object
 4   rate                         48414 non-null  object
 5   votes                        56174 non-null  object
 6   phone                        54956 non-null  object
 7   location                     56126 non-null  object
 8   rest_type                    55914 non-null  object
 9   dish_liked                   28027 non-null  object
 10  cuisines                     56049 non-null  object
 11  approx_cost(for two people)  55731 non-null  object
 12  listed_in(type)              51642 non-null  object
dtypes: object(13)
memory usage: 5.6+ MB

As we can see from the observation there are 50016 rows but each row has missing vallue.
Since we are not interested in data in the address and phone columns we can drop them.

In [5]:
#removing unwanted columns
hotels = hotels.drop(columns=["address","phone"])

In [6]:
hotels.head()

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type)
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

In [ ]:
#renaming columns
hotels.rename(columns = {'rate':'rating', 'approx_cost(for two people)':'approx_cost',
                               'listed_in(type)': 'type'}, inplace = True)

In [ ]:
hotels.head(20)

In [ ]:
#checking for missing values
hotels.isna().sum()

From the observation above we can see that there is missing value in each column. Since column "name" has only 8 missing values out of 50008 so we can drop those rows. We are going to replace with "NA" and zero values the missing values in the rest columns.

In [ ]:
#dealing with Null Values in the dataset

#deleting null values of name column
hotels = hotels.dropna(subset=['name'])

#handling null values of online_order
hotels['online_order'] = hotels['online_order'].fillna('NA')

#handling null values of book_table
hotels['book_table'] = hotels['book_table'].fillna('NA')

#handling null values of rating
hotels['rating'] = hotels['rating'].fillna(0)

#handling null values of votes
hotels['votes'] = hotels['votes'].fillna(0)

#handling null values of location
hotels['location'] = hotels['location'].fillna('NA')

#handling null values of rest_type
hotels['rest_type'] = hotels['rest_type'].fillna('NA')

#handling null values of dishliked
hotels['dish_liked'] = hotels['dish_liked'].fillna('NA')

#handling null values of cuisines
hotels['cuisines'] = hotels['cuisines'].fillna('NA')

#handling null values of approxcost
hotels['approx_cost'] = hotels['approx_cost'].fillna(0)

#handling null values of type
hotels['type'] = hotels['type'].fillna('NA')

In [ ]:
hotels.shape

## Cleaning the dataset

Cleaning dataset involves identifying and removing any symbols, special characters, or non-standard characters and also removing duplicates that may interfere with proper data analysis.

In [ ]:
#droping the duplicates value keeping the first
hotels.drop_duplicates( keep="first", inplace=True)

In [ ]:
#checking row quantity
hotels.shape

## Removing irrelevant text

From the observation above we can see that each column contains an irrelevant text such as "RATED" in different variations (uppercase, lowercase, etc.) and also contains non-english letters in colunm "name".

In [ ]:
#removing irrelevant text
for column in hotels:
    hotels = hotels[hotels[column].str.contains('rated', case=False)==False]

In [ ]:
#checking row quantity
hotels.shape

In [ ]:
#having rows with "Yes" or "No" responce in the "online_order' column
hotels = hotels[hotels['online_order'].str.contains('Yes|No',regex=True)]

#cleaning 'rating' column
hotels['rating'] = hotels['rating'].str.replace('/5', '')   
   
def replace_rating(rating):
    if rating == 'NEW' or rating == '-':
        return 0
    else:
        return rating
hotels['rating'] = hotels['rating'].apply(replace_rating)

In [ ]:
#remove unknown character/non-english letter from dataset
hotels['name'] = hotels['name'].str.replace('[Ãx][^A-Za-z]+','',regex=True)

In [ ]:
#checking row quantity
hotels.shape

The final dataset consists of 30336 rows and 11 colums. Module 1 is completed. 
On the following step the file was exported to Excel to new file named "zomatocleaned1.csv". The next step involves deduplication of identical rows in an exported dataset using Excel and creating new file named 'zomatocleaned1_no_dup.csv'. Then the cleaned dataset was uploaded into SQL database. For further analysis please refer to 'zomato.sql' file.